@media screen and (max-width: 2000px) {
    .informacion {
        width: 55%;
        left: 550px;
    }
    .conInformacion {
        width: 50%;
        padding-left: 80px;
    }
    .conInformacion p {
        font-size: 1.5rem;
    }
    .informacion img {
        width: 50%;
        margin-left: 30px;
    }
}

@media (max-width: 1600px) {
    .informacion {
       width: 60%;
       left: 40%;
    }
    .conInformacion {
        display: none;
    }
}

@media (max-width: 1200px) {
    .estu {
        display: none;
    }
}

@media (max-width: 1000px) {
    .informacion {
       left: 43%;
    }
    .conInformacion {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .informacion {
        width: 50%;
        left: 50%;
    }
}

@media (max-width: 850px) {
    .informacion {
        display: none;
    }
    .mate {
        display: none;
    }
}

@media (max-width: 580px) {
    .container {
        background-position-y: -210px;
        background-size: 510px 800px;
    }
    #conPregunta {
        margin-top: 37px;
        font-size: 1.8rem;
    }
    #imagenes {
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    * {
        font-size: 1rem;
    }
    .container {
        height: 65%;
        z-index: 0;
    }
    .container-menu {
        z-index: 0;
    }
    .titulin {
        height: 80px;
        margin-top: -600px;
        z-index: 0;
    }
    .contenido-seccion #imagenes .cien {
        margin-top: 200px;
        width: 200px;
    }
    .l-navbar {
        height: 100%;
    }
    .nav__list {
        margin-top: 100px;
        margin-left: -30px;
        z-index: 0;
    }
    .nav__link {
        width: 246px;
        height: 80px;
        margin: 30px;
        border-radius: 0;
        z-index: 0;
    }
    #ciencias img {
        width: 90px;
        margin-left: 10px;
    }
    #estudios img {
        width: 70px;
        margin-left: 15px;
    }
    #deportes img {
        width: 90px;
        margin-left: 15px;
    }
    #cultura img {
        width: 90px;
        margin-left: 20px;
    }
    .section-button #conButton {
        width: 120px;
        height: 30px;
        font-size: 1rem;
        margin-top: 230px;
    }
    .contPuntos {
        width: 60%;
        height: 30px;
        margin-top: -20px;
        margin-left: 20%;
        border-radius: 10px;
    }
    .contPuntos .puntos{
        font-size: 1.3rem;
    }
}
