@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

* { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

body {
    background-color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #e2e2e2;
    color: #ebebee;
    width: 900px;
    height: 700px;
    border-radius: 20px;
    padding: 10px;
}

.titulin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    color: #111113;
} 

.container h1 {
    text-align: center;
    font-size: 1.8rem;
}

.contenido-seccion {
    width: 100%;
}

.section-opciones {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
}

.section-opciones button {
    cursor: pointer;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 20px;
    border: 8px solid #fff;
    background-color: #fff;
    color: #111113;
    font-size: 1.3rem;
}

.contPuntos {
    background-color: #fff;
    border-radius: 0 0 18px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-top: 0px;
}

#conButton { font-weight: 100; }
.contPuntos h1 { font-size: 1.5rem; color: #111113; font-weight: 100; }

.section-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-button button {
    border: none;
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    color: #1c1c1c;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 5px;
}

#ingRespuesta {
    background-color: #363636;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 345px;
    height: 60px;
    padding: 10px;
    display: none;
}

.btn { font-weight: 100 !important; }
.btn strong { font-weight: 100; }

.informacion {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    flex-wrap: wrap;
    height: 673px;
    top: 50px;
    left: 450px;
}

.conInformacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 673px;
    top: 50px;
}

.conInformacion p { font-size: 1.5rem; }


@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
