* {
    font-family: monospace;
}

body {
    background-color: #23262e;
}

.container {
    margin-top: 15px;
    border-radius: 60px;
    border: 30px solid #23262e;
    background-color: #6f3392;
    color: #ebebee;
    padding: 100px 0;
    height: 680px;
    overflow: hidden;
}

.container .contenido-seccion {
    width: 100%;
    margin-top: 10px;
}

.titulin {
    position: relative;
    width: 100%;
    height: 140px;
    padding-bottom: 10px;
    margin-top: -900px;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#imagenes {
    width: 100%;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagenes img {
    margin-top: 250px;
    margin-left: -10px;
    width: 300px;
}

.container h1 {
    text-align: center;
    top: 140px;
    font-size: 2rem;
}

.contenido-seccion .section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#conPregunta {
    font-size: 2.5rem;
}

.section-opciones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -350px;
    display: none;
}

.section-opciones button {
    margin: 2px;
    cursor: pointer;
    width: 100%;
    height: 80px;
    border: 10px solid #6f3392;
    color: rgb(255, 255, 255);
    background-color: #6f3392;
    font-size: 1.5rem;
}

.contPuntos {
    padding: 2px;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    display: none;
}

.section-button button {
    position: relative;
    border-radius: 10px;
    border: none;
    margin-top: 250px;
    width: 220px;
    height:50px;
    cursor: pointer;
    background-color: #0dc4ac;
    box-shadow: 3px 6px 0 0 rgb(19, 58, 59);
    overflow: hidden;
    color: #fff;
    font-weight: 900;
    font-size: 1.8rem;
    display: none;
}

#conButton::after {
    content: '';
    display: inline-block;
    border-radius: 8px;
    width: 220px;
    height: 20px;
    background-color: #ffffff21;
    margin-top: -40px;
    margin-left: -6px;
}

#conButton::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 8px;
    width: 8px;
    height: 8px;
    background-color: #fafafabe;
    margin-top: 4px;
    margin-left: -39px;
    z-index: 0;
}

#ingRespuesta {
    background-color: #363636;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 345px;
    height: 60px;
    padding: 10px;
    display: none;
}

.bienvenbida {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 45px;
    margin-top: -100px;
    background-color: #0dc4ac;
    box-shadow: 0px 6px 0 0 rgb(19, 58, 59);
    border-radius: 20px 20px 0 0;
}

header .button {
    color: #000;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    cursor: pointer;
}
  
#btn-menu {
    display: none;
}
  
.container-menu {
    width: 100%;
    height: 100vh;
    transition: all 500ms ease;
    visibility: hidden;
}
  
.container-menu h2 {
    z-index: -1;
    left: 25%;
    width: 290px;
    font-size: 23px;
    top: 0px;
    text-align: center;
    padding: 10px 20px;
    color: #000;
    background: #0dc4ac;
    border-radius: 10px;
    border: none;
}
  
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
  
.cont-menu {
    width: 100%;
    max-width: 100%;
    background: #1c1c1c;
    height: 98vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 20;
}
  
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
  
.cont-menu nav {
    transform: translateY(15%);
}
  

#nav-bar {
    color: #fff;
    height: 100vh;
    transition: .5s;
    font-family: 'Gagalin';
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.nav {
    color: rgba(255, 255, 255, 0.658);
    margin-bottom: 1.5rem;
    margin-top: -350px;
    width: 700px;
    transition: .3s;
    font-size: 18px;
    width: 100%;
}
  
  
.nav__link {
    color: rgb(255, 255, 255);
    margin: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    height: 130px;
    border-radius: 10px;
    color: #ebebee;
    font-size: 1.5rem;
    font-weight: 900;
    width: 320px;
    border: none;
    cursor: pointer;
}

.nav__link:hover {
    background-color: #6f3392;
    transition: 0.5s;
}

.nav__link span {
    padding-left: 30px;
}

.ciencias {
    background-color: #119e80;
}

.estudios {
    background-color: #1f70b3;
}

.deportes {
    background-color: #a38021;
}

.culturaGeneral {
    background-color: #ac4c33;
}

.ciencias:hover,
.deportes:hover {
    transform: rotate(4deg);
}

.estudios:hover,
.culturaGeneral:hover {
    transform: rotate(-4deg);
}

.ciencias img {
    width: 120px;
    margin-left: 20%;
}

.estudios img {
    width: 90px;
    margin-left: 19%;
}

.deportes img{
    width: 120px;
    margin-left: 18%;
}

.culturaGeneral img {
    width: 120px;
    margin-left: 20%;
}

.informacion {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    flex-wrap: wrap;
    height: 673px;
    top: 50px;
    left: 450px;

}

.conInformacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 673px;
    top: 50px;
    left: -200px;
}

.conInformacion p {
    font-size: 1.5rem;
}

.informacion img {
    width: 50%;
    margin-left: 30px;
}
